#mapContainer {
    width: 100%;
    height: 100%;
}

/*fill screen css*/

html, body, .customRow {
    height: 100%;
}

.customCol {
    height: 100%;
}

.customCol-70 {
    height: 70%;
}

.configMapSidebar{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.paddingNavBar{
    height: 60px;
}
